/* 基本情報 */
html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
}

body,h1,h2,h3,h4,h5,h6,p,address,ul,ol,li,dl,dt,dd,table,th,td,img,form {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 100%;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-family: font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    color: #000;
    font-size: 16px;
    font-size: 1.6rem;
    font-feature-settings: "palt";
}

body {
    /* min-width: 980px; */
}

img {
    -webkit-backface-visibility: hidden;
}

.contents {
    position: relative;
}

header,
.main,
footer {
    width: 100%;
}

a,
a:hover,
a:active,
a:focus{
    color: #000;
    text-decoration: none;
}

a,
.uk-button,
.main-footer-link dt {
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

a:hover,
.uk-button:hover,
.main-footer-link dt:hover {
    opacity: 0.7;
}

input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

/* contents */

.contents {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header {
    background: #006ad4;
    padding:6% 3% 3%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 1%;
}
header h1 {
    color: #FFF;
    font-size: 3.2rem;
 }

footer {
    background: #000;
    color: #FFF;
    text-align: center;
    padding: 1% 0;
    position: fixed;
    bottom: 0;
}

section {
    padding: 0 3% 2%;
}
section:last-of-type {
    padding-bottom: 50px;
}
section h2 {
    padding: 3% .5em;
    font-size: 1.8rem;
    border-bottom: 1px solid #CCC;
}
section li {
    padding: 1em;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 1.4rem;
    border-left: 8px solid ;
    line-height: 1.2;
}
section li.st_green {
    border-left-color: greenyellow;
}
section li.st_yellow {
    border-left-color: yellow;
}
section li.st_red {
    border-left-color: pink;
}
section li .date {
    display: block;
    margin-bottom: 0.5em;
}

